.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.image {
  width: 25%;
  height: 20%;
  object-fit: contain;
  margin-right: 15px;
}

.detail {
  text-align: end;
  color: grey;
}
.context {
  display: flex;
  max-width: 200px;
}

@media only screen and (max-width: 600px) {
  .detail-alıs {
    font-size: 14px;
  }
  .detail-tarih {
    font-size: 14px;
  }
  .id {
    font-size: 12px;
  }
  .name {
    font-size: 12px;
  }
  .context {
    max-width: 150px;
  }
}
