* {
  font-family: "Roboto";
}
.button {
  width: 500px;
  height: 48px;
  text-align: "center";
  background-color: #2b3b48 !important;
  color: "white";
  font-weight: "bold";
  letter-spacing: 0.94px;
}

.columns {
  border: "1px solid black" !important;
}
/* .column {
  border: "1px solid black";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
} */
